.modal-add-user {
  .img-preview {
    border: 1px dashed #ccc;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .label-upload {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid red($color: #000000);
    width: fit-content;
    padding: 3px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #eeeeee;
    margin: 5px 0px;

    &:hover {
      background-color: #c0c0c0;
    }
  }
}

.manage-user-container {
  .users-content {
    margin: 15px 0px;
  }

  .title {
    font-weight: 600;
    font-size: 20px;
  }
}

/* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination a,
.pagination span {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover,
.pagination span:hover {
  background-color: #007bff;
  color: white;
}

.pagination .active a,
.pagination .active span {
  background-color: #007bff;
  color: white;
}

.pagination .disabled a,
.pagination .disabled span {
  color: #ccc;
  pointer-events: none;
  cursor: not-allowed;
}

.pagination .previous,
.pagination .next {
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 15px;
}

.pagination .previous > a:hover,
.pagination .next > a:hover {
  background-color: #007bff;
  color: white;
}
